<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Asgn2/src/org/cs27x/dropbox/Dropbox.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.cs27x.dropbox.Dropbox"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="~\Desktop\Developer\CS278\impl\Asgn2\test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Asgn2"/>
</launchConfiguration>
